html, body {
	height: 100%;
	padding:0;
	margin: 0;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
	width: 100%;
	height: 100%;
}

#infoBox img {
	width: 100%;
	height: auto;
}
.extinctionColor {
	width: 24px;
	height: 24px;

	position: absolute;
	left: 3px;
	top: 3px;

	display: inline-block;
	content: '';

	border-radius: 50%;
}
.ex {
	background: #800026;
}
.ew {
	background: #BD0026;
}
.cr {
	background: #E31A1C;
}
.en {
	background: #FC4E2A;
}
.vu {
	background: #FD8D3C;
}
.nt {
	background: #FED976;
}
.lc {
	background: #FFEDA0;
}
.dd {
	background: #ddd;
}

#infoList {
	display: none;
	background: rgba(255,255,255,0.7);
	position: absolute;
	bottom: 0;
	left: 0;
	top: 120px;
	width: 150px;
	margin: 0;
	padding: 10px;

	overflow:auto;

	border-top-right-radius: 5px;
}

#activeCounty {
	display: none;
	position: absolute;
	left: 60px;
	top: 30px;
	font-size: 30px;
}

#infoList li {
	display: block;
	height: 30px;
	line-height: 30px;
	width: 100%;
	color: #4D4D4D;
	position: relative;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 35px;
	word-break: break-all;

	text-transform: capitalize;
}

#infoList li:hover, #infoList .active {
	cursor: pointer;
	background: #4D4D4D;
	color: white;
}

#infoBox {
	display: none;
	position: absolute;
	left: 170px;
	top: 120px;
	bottom: 0;
	width: 450px;
	padding: 15px;

	border-top-right-radius: 6px;
	background: rgba(255,255,255,0.9);
}

#infoBox .content {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}

#close {
	position: absolute;
	top:5px;
	right:5px;

	background: #800026;
	color: white;
	padding: 5px;
	border-radius: 4px;
}

#infoBox h1 {
	font-size: 25px;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}